{% extends '_include/Back/_layout.html.twig' %}
{% block title %}Ajout d'un frais {% endblock %}
{% block content %}

<h3 class="mb_2 header_title">Déclaration de frais  {{ expenseAccount.name }} </h3>

<div class="form-group">

    {{ form_start(formAddLineExpense, {'attr':{'id': 'formAddLineExpense'}}) }}
        <div class='row' id="commonForm">
            <div class="col-4"> {{ form_row(formAddLineExpense.type)}}</div>
            <div class="col-8"> {{ form_row(formAddLineExpense.description)}}</div>
        </div>
        <div class="row" id="expensePartners">
            <div class="col-12"> {{ form_row(formAddLineExpense.partner) }} </div>
            <div class="col-4"> {{ form_row(formAddLineExpense.billing_date)}}</div>
            <div class="col-8">{{ form_row(formAddLineExpense.establishment) }}</div>
        </div>
        <div class="row" id="businessTripForm">
            <div class="col-6" > {{ form_row(formAddLineExpense.start)}}</div>
            <div class="col-6" > {{ form_row(formAddLineExpense.end)}}</div>
            <div class="col-6" > {{ form_row(formAddLineExpense.departure)}}</div>
            <div class="col-6" > {{ form_row(formAddLineExpense.arrival)}}</div>
            <div class="col-6" > {{ form_row(formAddLineExpense.kilometers)}}</div>
            <div class="col-6" > {{ form_row(formAddLineExpense.vehicle)}}</div>
        </div>
        <div class="row">
            <div class="col-4 amount-param" id="form_group_billing_amount"> {{ form_row(formAddLineExpense.billing_amount)}}</div>
            <div class="col-4 amount-param"> {{ form_row(formAddLineExpense.currency)}}</div>
            <div class="col-4" id="add_line_expense_convert_amount">{{ form_row(formAddLineExpense.total_amount) }}</div>
        </div>

        <div class="row">
            <div class="col-12"> {{ form_row(formAddLineExpense.comment)|raw }}</div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-secondary btn-sm">Annuler</button>
            <button type="button" class="btn_add btn-secondary btn-sm" id="btnSubmitFormExpense">Enregistrer</button>
        </div>
    {{ form_end(formAddLineExpense) }}
</div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function (){
            //properties
            let rate = 1;
            let amount = 0;
            let total_amount = null;
            let symbol_zone = $("#form_group_billing_amount span");
            let kms = null;

            // display init
            $("#add_line_expense_convert_amount").hide();
            $("#businessTripForm").hide();
            $("#add_line_expense_billing_date").datepicker({
                language: 'fr',
                format:'yyyy-mm-dd',
                startDate:'{{ expenseAccount.start|date('Y-m-d') }}',
                endDate:'{{ expenseAccount.end|date('Y-m-d') }}'
            })

            // amount validate
            $("#add_line_expense_billing_amount").change(function(){
                amount = parseFloat($(this).val());
                if(amount>0 && !isNaN(amount)) {
                    total_amount = convertAmount(amount, rate);
                    $("#add_line_expense_total_amount").val(total_amount.toFixed(2));
                }
            })

            // total amount validate


            //currency rate
            $("#add_line_expense_currency").change(function(){
                let search_currency_url =  "{{ url('back_search_currency', {'id':'__0__'}) }}";
                search_currency_url = search_currency_url.replace('__0__', $(this).val());
                $.ajax({
                    method:"GET",
                    url : search_currency_url,
                    dataType: 'json',
                    success: function (data){
                        rate = data.exchange_rate;
                        let code = data.code;
                        if(code !== 'eur'){
                            $("#add_line_expense_convert_amount").show();
                            total_amount = convertAmount(amount, rate);
                            $("#add_line_expense_total_amount").val(total_amount.toFixed(2));
                            symbol_zone.text(data.symbole);
                        }else{
                            $("#add_line_expense_convert_amount").hide();
                            total_amount = convertAmount(amount, rate);
                            $("#add_line_expense_total_amount").val(total_amount.toFixed(2));
                            symbol_zone.text(data.symbole);
                        }
                    }
                    }
                )
            })

            // expense type form
            $("#add_line_expense_type").change(function (){
                let search_type_url =  "{{ url('back_search_expense_type', {'id':'__0__'}) }}";
                search_type_url = search_type_url.replace('__0__', $(this).val());
                $.ajax({
                    method:'GET',
                    url: search_type_url,
                    dataType: 'json',
                    success: function(data){
                        if(data.code==='trav'){
                            $("#businessTripForm").slideDown(1000);
                            $("#expensePartners").slideUp(1000);
                            $(".amount-param").slideUp(1000);
                            $("#add_line_expense_convert_amount").slideDown(1000);
                            $("#add_line_expense_total_amount").val(null);
                            $("#add_line_expense_kilometers").val(null);
                        }else{
                            $("#businessTripForm").slideUp(1000);
                            $("#expensePartners").slideDown(1000);
                            $(".amount-param").slideDown(1000);
                            $("#add_line_expense_convert_amount").hide();
                            $("#add_line_expense_total_amount").val(null);
                            $("#add_line_expense_billing_amount").val(null);
                            $("#add_line_expense_currency").val(1);
                            symbol_zone.text('€');

                        }
                    }
                })
            })

            // validate kilometers
            $("#add_line_expense_kilometers").change(function (){
                kms = parseFloat($(this).val());
                if(kms>0 && !isNaN(kms)){
                    let search_vehicle_url =  "{{ url('back_search_vehicle', {'id':'__0__'}) }}";
                    search_vehicle_url = search_vehicle_url.replace('__0__', $("#add_line_expense_vehicle").val());
                    $.ajax({
                        method:"GET",
                        url : search_vehicle_url,
                        dataType: 'json',
                        success: function (data) {
                            total_amount=data.allowance*kms;
                            $("#add_line_expense_total_amount").val(total_amount.toFixed(2));

                        }
                    })
                }
            })

            $("#add_line_expense_vehicle").change(function(){
                let search_vehicle_url =  "{{ url('back_search_vehicle', {'id':'__0__'}) }}";
                search_vehicle_url = search_vehicle_url.replace('__0__', $(this).val());
                $.ajax({
                    method:"GET",
                    url : search_vehicle_url,
                    dataType: 'json',
                    success: function (data) {
                        total_amount=data.allowance*kms;
                        $("#add_line_expense_total_amount").val(total_amount.toFixed(2));
                    }
                })
            })

            $("#btnSubmitFormExpense").click(function(){
                // if(total_amount>0 && !isNaN(total_amount)){
                    $(this).html(btn_spin);
                    $('#formAddLineExpense').submit();
                    // $("#formAbtnSubmitFormExpense
                // }
            })

            // function convert
            function convertAmount(amount, rate) {
                let result;
                return result = amount * rate;
            }
        })
    </script>
{% endblock %}