{% extends '_include/Back/_layout.html.twig' %}

{% block title %}Notes de frais {% endblock %}
{% block content %}

<h3 class="mb_2 header_title">Notes de frais</h3>
    <div class="header_btn_container">
        <button id="btnOpenModalAddExpensesAccount" class="btn_add" data-toggle="modal" data-target="#modalAddExpensesAccount"><i class="fa fa-plus"></i>&nbsp;Ajouter</button>
    </div>
    <div class="nav_tabs">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-in-progress-tab" data-toggle="pill" href="#pills-in-progress" role="tab" aria-controls="pills-in-progress" aria-selected="true">En cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-history-tab" data-toggle="pill" href="#pills-history" role="tab" aria-controls="pills-history" aria-selected="false">Historique</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-in-progress" role="tabpanel" aria-labelledby="pills-in-progress-tab">
                <table id="expensesAccounts_list" class="display " style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Désignation</th>
                            <th>Statut</th>
                            <th>Modifier le</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for account in expensesAccounts %}
                        <tr data-eaid="{{ account.id }}">
                            <td>{{ account.id }}</td>
                            <td>{{ account.name }}</td>
                            <td>{{ account.status.name }}</td>
                            <td>{{ account.updatedAt|date('d-m-Y') }}</td>
                            <td>
                                <button type="button" class="btn_add btn_round btnSubmitAccount"><i class="fa fa-send"></i></button>
                                <button type="button" class="btn_edit btn_round btnExportAccount"><i class="fa fa-file-pdf-o"></i></button>
                                <button type="button" class="btn-danger btn_round btnDeleteAccount"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
                <table id="expensesAccountsHistory_list" class="table-inbox" style="width:100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Désignation</th>
                        <th>Statut</th>
                        <th>Créer le</th>
                        <th>Modifier le</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for account in historyExpensesAccounts %}
                        <tr data-eaid="{{ account.id }}">
                            <td>{{ account.id }}</td>
                            <td>{{ account.name }}</td>
                            <td>{{ account.status.name }}</td>
                            <td>{{ account.createdAt|date('d-m-Y') }}</td>
                            <td>{{ account.updatedAt|date('d-m-Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAddExpensesAccount">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nouvelle note de frais</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formAddExpensesAccount, {'attr':{'id': 'formAddExpensesAccount'}}) }}
                        <div class="row" id="formDateAccount">
                            <div class="col-12 justify-content-center d-flex">{{ form_row(formAddExpensesAccount.name) }}</div>
                            <div class="col-6">{{ form_row(formAddExpensesAccount.start) }}</div>
                            <div class="col-6">{{ form_row(formAddExpensesAccount.end) }}</div>
                        </div>
                    <small id="datelHelp1" class="form-text text-muted "><i class="fa fa-remove" id="invalidHelp1" aria-hidden="true"></i><i class="fa fa-check" id="validHelp1" aria-hidden="true" hidden></i> Une note de frais est comprise entre 1er et le 31 d'un même mois.</small>
                    <small id="datelHelp2" class="form-text text-muted"><i class="fa fa-remove" id="invalidHelp2" aria-hidden="true"></i><i class="fa fa-check" id="validHelp2" aria-hidden="true" hidden></i> La date de fin ne doit pas être antérieur à la date de début.</small>
                    {{ form_end(formAddExpensesAccount) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn_add" id="btnSubmitFormAddExpensesAccount" disabled >Créer</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
<script>
    let ready = $(document).ready(function (){
        let current_tr;
        let monthStart = null;
        let monthEnd = null;
        let dateChoiceStart= null;
        let dateChoiceEnd = null;
       $('#add_expenses_account_start').change(function(){
          dateChoiceStart=$(this).val();
          monthStart = new Date(dateChoiceStart);
          monthStart = monthStart.toLocaleDateString('fr-FR', {month:'long'});
          let codeDate =  dateChoiceStart.split('-').join('');
          let accountName = $('#add_expenses_account_name').val();
          if(accountName.length > 3){
              accountName=accountName.substr(0,3)
              $('#add_expenses_account_name').val(accountName+monthStart.toUpperCase()+'-'+codeDate);


          }else{
              $('#add_expenses_account_name').val(accountName+monthStart.toUpperCase()+'-'+codeDate);
          }
       });

       $('#btnSubmitFormAddExpensesAccount').click(function(){
         $('#formAddExpensesAccount').submit();
       });

       $('#formDateAccount').change(function(){
           dateChoiceEnd = $('#add_expenses_account_end').val();
           monthEnd = new Date(dateChoiceEnd);
           monthEnd = monthEnd.toLocaleString('fr-FR',{month:'long'});
           if(monthStart === monthEnd){
               $('#invalidHelp1').attr('hidden', true);
               $('#validHelp1').attr('hidden', false);
               $('#datelHelp1').addClass('text-success').removeClass('text-muted')
           }else{
               $('#invalidHelp1').attr('hidden', false);
               $('#validHelp1').attr('hidden', true);
               $('#datelHelp1').addClass('text-muted').removeClass('text-success')
           }

           if(dateChoiceStart < dateChoiceEnd){
               $('#invalidHelp2').attr('hidden', true);
               $('#validHelp2').attr('hidden', false);
               $('#datelHelp2').addClass('text-success').removeClass('text-muted')
           }else{
               $('#invalidHelp2').attr('hidden', false);
               $('#validHelp2').attr('hidden', true);
               $('#datelHelp2').addClass('text-muted').removeClass('text-success')
           }

           if((dateChoiceStart < dateChoiceEnd) &&(monthStart === monthEnd)){
               $('#btnSubmitFormAddExpensesAccount').removeAttr('disabled');
           }else{
               $('#btnSubmitFormAddExpensesAccount').attr('disabled', true);
           }
       });

        $('#expensesAccounts_list').DataTable({
            language: obj_dt_translation.fr_FR
        });

        $('#expensesAccountsHistory_list').DataTable({
            language: obj_dt_translation.fr_FR
        });


        $("#expensesAccounts_list tr").click(function(){
           let current_id = $(this).data('eaid');
           console.log(current_id);
           let url = "{{ url('back_line_expenses_view', {'id':'__00__'}) }}";
           url = url.replace('__00__',current_id);
           window.location = url;
       })
    })


</script>

{% endblock %}