{% extends '_include/Back/_layout.html.twig' %}

{% block title %}Détails des frais {% endblock %}
{% block content %}

<h3 class="mb_2 header_title">Listes des frais {{ expenseAccount.name }}</h3>
<div class="header_btn_container">
    <a href="{{ path('back_add_line_expense',{'id': expenseAccount.id }) }}" class="btn_add"><i class="fa fa-plus"></i>&nbsp;Ajouter</a>
</div>
<div class="tab-content">
    <table id="linesExpenses_list" class="display dataTable " style="width:100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Type</th>
            <th>Date</th>
            <th>Montant</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for line in expenseAccount.lineExpensesAccounts %}
            <tr data-leid="{{ line.id }}">
                <td>{{ line.id }}</td>
                <td class="display-account">{{ line.description }}</td>
                <td>{{ line.type.name }}</td>
                <td>{{ line.billingDate|date('d-m-Y') }}</td>
                <td>{{ line.billingAmount }}€</td>
                <td>
                    <button type="button" class="btn_edit btn_round btn_edit_expense"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn_mail btn_round btn_duplicate_expense"><i class="fa fa-copy"></i></button>
                    <button type="button" class="btn-danger btn_round btn_delete_expense"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}

{% block javascripts %}
<script>
    let ready = $(document).ready(function (){
        let current_tr = "";
        let current_id="";

        $('#linesExpenses_list').DataTable({
            language: obj_dt_translation.fr_FR
        });

        $(".btn_edit_expense").click(function(){
            current_tr = $(this).closest('tr');
            current_id = $(current_tr).data("leid");
            console.log($(current_id));
        })
    })


</script>

{% endblock %}